$('#review').prepend("<div class='alert alert-info' role='alert'>\
                          <p>Your comment has been accepted and will be published after moderation</p></div>");
$('#comment_user_name').val(' ');
$('#comment_body').val(' ');
$('#show_comment_form').show();
$('.new_comment').hide();
