<div class="row" id="error-pages">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="box">
            <h3 class="text-center"><%= t("SORRY") %></h3>
            <h4 class="text-muted"><%= t("we_couldn't_find_that_page") %></h4>
            <p><%= t("try_searching_or_go_to_home_page") %></p>
        </div>
    </div>
</div>
