<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2017 Gymrek.com</p>
            <%= link_to 'en', url_for( :locale => 'en' ) %>
            <%= link_to 'nl', url_for( :locale => 'nl' ) %>
        </div>
        <div class="col-md-6">
            <!-- <%= I18n.t('lol') %> -->
        </div>
    </div>
</div>
